/*create class to style the reference links* in main body*/
main ul li a:link {
color: blue;
}
main ul li a:visited {
color: red; 
}
main ul li a:hover {
  color: purple;
}
main ul li a:active {
  color:pink;
}


/* General Styles */
.logo {
  font-size: 36px;
  color: white;
  text-align: center;
  letter-spacing: -3;
  margin: 0;
  padding: 20px 0 0 0;
}

body {
  margin: 0; 
  background-image: url(images/Background.jpg)
}

header {
  background-color: #85B8C1;
  color: white;
  text-align: center;
  padding-top: 20px; 
}

main {
  background-color: #E4EFF1;
}



/* header navigation */
header nav {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
}
header nav ul {
  display: flex; 
  flex-direction: row;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none; 
}

header nav ul li a {
  color: white; 
  text-decoration: none;
  padding: 0 40px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: underline;
}

/*Add media Query*/
@media all and (min-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin: 14px 0 14px 20px;
    padding-top: 0;
    font-size: 42px;
  }
  
  header nav {
    margin-top: 14px;
  }
}



/* primary groups */
main {
  padding: 40px 0; 
}

section { 
  padding-bottom: 100px; 
}

section.dark-background {
  background-color: #BBD8DD;
  padding-top: 80px; 
  padding-bottom: 80px; 
  margin: 80px 0;
}

/* Images*/

main img {
  width: 100%;
}

img.image-enhanced {
  border-radius: 8px;
}


/* ---  Typography --- */
.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

hr {
padding: 30px; 
text-decoration: none; 
border: none 
}


h1 {
  font-size: 30px;
  color: #4F5254;
  font-family: Arial,'Montserrat Alternates', sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 26px;
  color: #4F5254;
  font-family:  , 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  margin: 0 10px;
}

h3 {
  font-size: 20px;
  color: #4F5254;
  font-family: Arial, 'Montserrat Alternates', sans-serif;
  font-weight: 500;
}

p {
 font-family: Arial, 'Montserrat', sans-serif;
 line-height: 1.5em;
 margin-bottom: 0;
 color: #585D5F;
}

footer p {
  color: white; 
  text-align: center; 
}

footer {
  background-color: #85B8C1;
  padding-top: 20px;  
  padding-bottom: 20px; 
  margin-bottom: 0; 
}

main ul { 
  list-style-type: none; 
   color: #585D5F;
   line-height: 2em;

}

main p a {

  color: #007FE0; 
  text-decoration: none;
}
main p a:hover {
  text-decoration: underline;
}

/* ---  (Desktop) Groups & Items --- */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
  .group {
    flex-direction: row;
  }
}

/*contact form design*/

form textarea {
  height: 160px;
}

form {
  padding-right: 8px;
}

form label {
  display: block;
  color: #585D5F;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif
}

form textarea {
  height: 160px;
}

form button {
    padding: 10px 16px;
    border-radius: 10px;
    border: 0;
    font-family: Tahoma;
    font-size: 16px;
    background-color: #62676A;
    color: #fff;
}
