/*create class to center text*/
.text-centered {
  text-align: center;
}
/*create class to center image*/
.centered {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
/*create class to wrap text*/
.wrapper {
  width: 300px;
  margin: auto;
  text-align: left;
}
/*create class to create space between text*/
.spaceBetweenP {
  margin-bottom: 5px;
}
/*create class to create space between the heading and text*/
.spaceBetweenH {
  margin-top: 20px;
}

.mainBackground {
  background-color: #F5F4F6;
}

.headerBackground {
  background-color: #242038; 
  padding: 2px;
  color: #F5F4F6;
  font-family: 'Times New Roman', Times, serif;
}

hr {
  width: 600px;
  margin-top: 25px;
}


/*make all h2, h3, and p tags dark purple*/
h2, h3, p {
   color: #242038;
   font-family: 'Times New Roman', Times, serif
}
/*only make the p tags in the header and footer container white */
header p{
  color: #F5F4F6;
  height: 20px;
  font-size: 20px;
}

footer p {
  color: #F5F4F6;
  font-size: 20px;
}
/*create class to style the reference links*/
a:link {
color: blue;
}
a:visited {
color: red; 
}
a:hover {
  color: purple;
}
a:active {
  color:pink;
}